<% provide(:title, "Home") %>
  <div class="center jumbotron">
    <div class="jumbotext">
    <h1>Qué dice Guayaquil en Twitter</h1>
    <h2>Datos interesantes del ~1% de tweets generados en Guayaquil</h2>
    <div>
  </div>

