<% provide(:title, "Source of Tweet") %>
<h1>Coordinates</h1>
<h2>ipsum lorem</h2>

<p>Total of tweets with coordinates <%= @tweets.count %></p>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>latitud</th>
      <th>longitud</th>
    </tr>
  </thead>
  <tbody>
   <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet['lat'] %></td>
        <td><%= tweet['lng'] %></td>
      </tr>
<% end %>
</tbody>
</table>