<% provide(:title, "Source of Tweet") %>
<h1>Coordinates</h1>
<h2>ipsum lorem</h2>

<p>Total of tweets with coordinates <%= @tweets.count %></p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { maxZoom: 10}, internal: {id: 'map'}}, function(){
    handler.map.centerOn({ lat: -2.1649033, lng: -79.9260202 })
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

<script>  
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
</script>




  
