<% provide(:title, "Hashtags") %>

<h1>#Hashtags</h1>

<table class="table">
  <thead>
    <tr>
      <th>Hashtag</th>
      <th>Mentioned</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'table' %>
  </tbody>
</table>