<% provide(:title, "Hashtags") %>

<h1>#Hashtags</h1>
<h2>Top 20 de los HS más usados</h2>

<table class="table">
  <thead>
    <tr>
      <th>Posición</th>
      <th>Hashtag</th>
      <th>Menciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'table' %>
  </tbody>
</table>