<h1>Data</h1>

<h3>Total tweets almacenados: <strong><%= number_with_delimiter(@total, delimiter: ".") %></strong></h3> 


<h2>Top Ten hashtags</h2>
<table class="table">
  <thead>
    <tr>
      <th>Posición</th>
      <th>Hashtag</th>
      <th>Menciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'table', locals: {tweets: @tweets['hashtags']} %>
  </tbody>
</table>

<h2>Top 20 twitteros con mayor mencion</h2>
<table class="table">
  <thead>
    <tr>
      <th>Posición</th>
      <th>Hashtag</th>
      <th>Menciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'table', locals: {tweets: @tweets['most_mentioned']} %>
  </tbody>
</table>