<% provide(:title, "Most Mentioned User") %>
<h1>User más mencionado</h1>
<h2>Top 10 de Users con mayor mención</h2>

<table class="table">
  <thead>
    <tr>
      <th>Posición</th>
      <th>Screen Name</th>
      <th>Menciones</th>
    </tr>
  </thead>
  <tbody>
   <%= render 'table' %>
</tbody>
</table>


  