<% provide(:title, "Source of Tweet") %>
<h1>Source</h1>

<table class="table">
  <thead>
    <tr>
      <th>Source</th>
      <th>Number</th>
    </tr>
  </thead>
  <tbody>
   <%= render 'table' %>
</tbody>
</table>