<% provide(:title, "Source of Tweet") %>
<h1>Source</h1>

<table class="table">
  <thead>
    <tr>
      <th>Source</th>
      <th>Number</th>
    </tr>
  </thead>
  <tbody>
   <% @tweets.each do |tweet| %>
      <tr>
        <td><%= sanitize tweet['key'], tags: %w(a), attributes: %w(href) %></td>
        <td><%= tweet['value'] %></td>
      </tr>
<% end %>
</tbody>
</table>