development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: 
  suffix: 
  username: 
  password: 

test:
  <<: *development
  suffix: test

production:
  protocol: 'https'
  host: example
  port: 5984
  prefix: 
  suffix: 
  username: 
  password: 